/* Radix Color Imports */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@tailwind base;
@tailwind components;

/* Define Color Variables and Base Styling */
@layer base {
	:root {
		/* Global Colors */
		--bg: var(--gray-1);
		--boxBg: var(--gray-4);
		--contrast-color: var(--gray-12);
		--primary-color: var(--blue-9);
		--secondary-color: var(--gray-8);
	}

	/* Light Theme */
	.light {
		--contrast-color: #fff;
		.prose {
			--tw-prose-headings: var(--gray-12);
			--tw-prose-body: var(--gray-12);
			--tw-prose-bold: var(--gray-12);
			--tw-prose-links: var(--blue-11);
			--tw-prose-code: var(--gray-12);
			--tw-prose-quotes: var(--gray-12);
		}
	}

	/* Dark Theme */
	.dark {
		--contrast-color: #0a0a0a;
		.prose {
			--tw-prose-headings: var(--gray-12);
			--tw-prose-body: var(--gray-11);
			--tw-prose-bold: var(--gray-11);
			--tw-prose-links: var(--blue-11);
			--tw-prose-code: var(--gray-11);
			--tw-prose-quotes: var(--gray-11);
		}
	}

	/* Base Styling */
	body {
		@apply overflow-x-hidden;
		background-color: var(--bg);
	}

	.main-header {
		-webkit-tap-highlight-color: transparent;
	}
}

html {
	scroll-behavior: smooth;
}
