/* Syntax Highlighting Theme */
@import "@/public/prism/nord.css";

@tailwind components;

/* Syntax Highlighting */
pre[class*="language-"] {
	@apply rounded-md border bg-[#eceff4] text-[13px] text-xs;
	border-color: var(--secondary-color); /* Polar Night color for border */
	color: var(--primary-color); /* Frost blue as text color */
	background-color: var(--boxBg); /* Light background */
}

.code-highlight {
	float: left;
	min-width: 100%;
}

.code-line {
	display: block;
	padding: 0 16px;
	margin: 0 -16px;
	border-left: 4px solid transparent; /* Placeholder for custom accent */
}

.code-line.inserted {
	background-color: rgba(76, 175, 80, 0.2); /* Greenish tint for inserted lines */
}

.code-line.deleted {
	background-color: rgba(239, 68, 68, 0.2); /* Reddish tint for deleted lines */
}

.highlight-line {
	margin: 0 -24px;
	padding-left: 26px;
	background-color: rgba(129, 161, 193, 0.15); /* Frost blue for highlight background */
	border-left: 2px solid var(--primary-color); /* Frost blue for highlight border */
}

.line-number::before {
	@apply hidden md:inline-block;
	width: 1rem;
	text-align: right;
	margin: 0 24px 0 -8px;
	color: var(--secondary-color); /* Polar Night muted gray for line numbers */
	content: attr(line);
}
